/*****Overall styling*****/
@font-face {
        font-family: Roboto-r;
        src: url(./assets/Roboto/Roboto-Regular.ttf);
}
html {
	font-family: Roboto-r;
	background: url(../img/water.jpg) no-repeat left 25% center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*****Timer Styling*****/
.main-timer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20rem;
        height: 20rem;
        border: 5px solid;
        border-radius: 10rem;
        align-items: center;
        margin: auto;
}
#timerDisplay{
        font-size: 600%;
}
.buttons{
        padding: 2rem;
        text-align: center;
}

/*****List Styling*****/
/*Fonts*/

#taskForm, 
#taskForm input{
	color: #fff;
}

::placeholder{
	color: white;
}

::-ms-input-placeholder {
	color: white;
}
	
/*Container*/
#list{
	max-width: 70%;
	margin: 0 auto;
	
	
    background-color: rgba(34, 59, 90,.5);
    border-radius: 3em;
    padding: 2em 1em;
}
/*Rows*/
#table-content{
    border-collapse: separate;
    border-spacing: .5em;
}

/*Buttons*/
#list input[type="button"],
#taskForm button{
    font-family: 'Roboto';
    color: #fff;
    background-color: rgba(120, 170, 222, 0);
	border-style: solid;
    border-color: #fff;
    border-radius: 1.5em;
}

#list input[type="button"]:hover, 
#taskForm button:hover{
    background-color: rgba(120, 170, 222, 0.75);
}

/*Add Task Fields*/
#tName, #est{
	border: none;
	border-bottom: .05em solid #fff;
	background-color: rgba(0, 0, 0, 0);
}

#tName::placeholder,			/* Chrome, Firefox, Opera, Safari 10.1+ */
#est::placeholder,
#tName::-ms-input-placeholder, 	/* Microsoft Edge */
#est::-ms-input-placeholder{ 
  color: #fff;
  opacity: 1; /* Firefox */
}


/*Add Task Flexbox*/
#taskForm{
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}

#taskForm > *{
    margin: 0 .7%;
	
}

#taskForm label[for="task"]{
	order: 1;
}

#tName{
	order: 2;
	flex-grow: 5;
}

#taskForm label[for="estimate"]{
	order: 3;
}

#est{
	order: 4;
	flex-grow: 5;
}

#btn-add{
	order: 5;
	flex-grow: 1;
}

.btn-cancel{
	order: 6;
	flex-grow: 1;
}