
/**
 * TOC:
 * Overall Styling
 * Timer Styling
 * List Styling
 *   Fonts
 *   Containers
 * 	 Scrollbar
 *   Rows
 *   Buttons
 *   Add Task Fields
 *   Add Task Flexbox
 * 	 Nested Flexboxes
 * ~Mobile Styling ~
 * List styling
 *   Overall
 *   Flexbox
 *   Task Row Styling
 * Help/Overlay (depends on aspect ratio)
 * Settings
 * Current Task
 *   current task mobile
 * Completed Tasks
 * /




/*****Overall styling*****/
@font-face {
        font-family: Roboto-r;
        src: url(./assets/Roboto/Roboto-Regular.ttf);
}

/*Colors*/
:root{
	--accent-1: #6A8874;
	--accent-2-transparent: rgba(106, 136, 116, .6);
	--accent-2-opaque: rgba(106, 136, 116, 1);
	--before-hover: #ddd;
	--after-hover: rgba(135, 212, 140, .7);
	--transparent: rgba(0, 0, 0, 0);
	--completed: rgba(0, 0, 0, .4);
	/*
	--after-hover: rgba(120, 170, 222, 0.75);
	--accent-2-transparent: rgba(34, 59, 90,.5);
	--accent-2-opaque: rgba(34, 59, 90, 1);
	*/
}

html {
	/*font-family: Roboto-r;
	/*background: url(../img/water.jpg) no-repeat left 25% center fixed; */
	background: url(../img/green.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Georgia, serif;
}

main{
	padding: 5% 0;
}

/*****Timer Styling*****/
.main-timer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 3rem;
	align-items: center;
		
	margin: 0 auto;
	margin-top: 5vh;
	transition: margin-top 2s ease-out;
}

.main-timer-active{
	margin-top: 15vh;
	transition: margin-top 2s ease-out;
}

.buttons{
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#start-btn,
#reset  {
	font-size: 1.25rem;
	padding: .75em 2em;
	margin: 0 2.5vw;
	border-radius: 1rem;
	background-color: var(--accent-1);
	border: none;
	color:#FFF;
}

/*Reset popup*/
#reset-popup,
#settings-popup,
#done-popup{
	font-size: 1.25rem;
	padding: .75em 2em;
	margin: 0 auto;
	max-width: min(100vw, 20em);
	border-radius: 1rem;
	background-color: var(--accent-1);
	border: none;
	color:#FFF;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	z-index: 5;
}

#reset-flex,
#settings-flex,
#done-flex{
	display: flex;
	height: 100%;
	width: 100%;
	position: fixed;
	align-items: center;
	left: 0;
	top: -100vh;
	transition: top 1s ease;
	z-index: 3;
}

#reset-popup p,
#done-popup p{
	text-align: center;
	flex-basis: 15em;
    flex-grow: 1;
}

#reset-popup .form-btn,
#done-popup .form-btn{
	margin: 0 2em;
	font-size: 1.1rem;
}

#reset-flex.active,
#done-flex.active,
#settings-flex.active{
	top: 0;
	transition: top .5s ease;
}

#timerDisplay{
    font-size: 10rem;
}

/*****List Styling*****/
/*Fonts*/

#taskForm,
#taskForm input{
	color: #fff;
}

::placeholder{
	color: var(--before-hover);
}

::-ms-input-placeholder {
	color: var(--before-hover);
}
	
/*Container*/
#list{
	max-width: 50%;
	margin: 0 auto;
	margin-top: 3%;
	background-color: var(--accent-2-transparent);
    border-radius: 3em;
    padding: 2em 1em;
	max-height: 35vh;
    overflow: auto;
    overflow-x: hidden;
	font-size: 1.1rem;
}
#table-header {
    border-bottom: 1px solid white;
    width: 98%;
	margin: 0 auto;
	color: #fff;
}

#table-content {
    width: 100%;
    text-align: center;
	table-layout: fixed;
	word-break: break-word;
	color: #fff;
	border-collapse: separate;
    border-spacing: .5em;
}

th:nth-child(1),
td:nth-child(1){
    width: 2.5%;
}
th:nth-child(2),
td:nth-child(2){
    width: 72.5%;
    text-align: left;
}
th:nth-child(3),
td:nth-child(3){
    width: 10%;
}
th:nth-child(4),
td:nth-child(4){
    width: 10%;
}

th:nth-child(5),
td:nth-child(5){
    width: 2.5%;
	font-size: 1.25em;
	color: var(--before-hover);
}

td:nth-child(5):hover{
	color: #fff;
}

th:nth-child(6),
td:nth-child(6){
    width: 2.5%;
	font-size: 1.25em;
	color: var(--before-hover);
}

td:nth-child(6):hover{
	color: #fff;
}

/*Scrollbar*/
#list::-webkit-scrollbar-track
{
  border-radius: 1em;
  background-color: var(--accent-2-transparent);
}

#list::-webkit-scrollbar
{
  width: .8em;
}

#list::-webkit-scrollbar-thumb
{
  border-radius: 1em;
  background-color: var(--accent-2-opaque);
}

#list::-webkit-scrollbar-button:end:increment {
    height: 2.1em;
    display: block;
    background: transparent;
}

#list::-webkit-scrollbar-button:start:increment {
    height: 2.1em;
    display: block;
    background: transparent;
}

/*Rows*/
#list > *{
	padding: 0 5%;
}

#add-task-container{
	padding: 0 7%;
}

/*Buttons*/
.form-btn{
    font-family: 'Roboto';
    color: #fff;
    background-color: var(--transparent);
	border-style: solid;
    border-color: #fff;
    border-radius: 1.5em;
	padding: .25em 1em;
}

.form-btn:hover{
    background-color: var(--after-hover);
}

/*Add Task Fields*/
.in-field{
	border: none;
	border-bottom: .05em solid #fff;
	background-color: var(--transparent);
}

#add-task {
    width: 100%;
    color: #fff;
    background-color: var(--transparent);
    text-align: center;
    border: dashed;
    border-radius: 1px;
    padding: 8px 16px;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
	margin-top: 2.5%;
}
.add-popup {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Add Task Flexbox*/
#taskForm{
    display: flex;
	flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-around;
}

#taskForm > *{
    margin: 0 .7%;
	margin-bottom: 2%;
}

#taskForm #add-form-task{
	display: flex;
	justify-content: space-between;
	order: 1;
	flex-grow: 5;
	flex-basis: 20em;
}

#taskForm #add-form-est{
	display: flex;
	justify-content: space-between;
	order: 2;
	flex-grow: 5;
	flex-basis: 20em;
}

#add-form-btn,
#set-form-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 10em;
	order: 3;
	flex-grow: 1;
}
/*Nested Flexboxes*/
#taskForm div > *{
    margin: 0 2%;
}

#taskForm input{
	order: 2;
	flex-grow: 4;
}

#taskForm label{
	order:1;
	width: 25%;
}

/***** Mobile Styling *****/
@media only screen and (max-width: 1100px) {
/*****List Styling*****/
	/*Overall styling*/
  #list{
	  max-width: 95vw;
  }
	/*Flexbox*/
  #taskForm > *{
	  margin: 2.5% 1%;
  }
  
  #taskForm{
    justify-content: space-between;
  }
  
  #add-task{
	  margin-top: 1em;
  }
  
  /*Task row styling*/
  th:nth-child(1),
  td:nth-child(1){
    margin: 0;
	width: 5%;
  }
  th:nth-child(2),
  td:nth-child(2){
    width: 60%;
    text-align: left;
  }
  th:nth-child(3),
  td:nth-child(3){
    width: 10%;
  }
  th:nth-child(4),
  td:nth-child(4){
    width: 10%;
  }

  th:nth-child(5){
	  width: 10%;
  }
  
  td:nth-child(5),
  td:nth-child(6){
	color: #fff;
	width: 5%;
  }

}

/*****Help*****/
#help-overlay,
#popup-overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#help{
    right: 0;
}

i.fa.icon{
	position: fixed;
	bottom: 0;
    margin: 1%;
    font-size: 2rem;
	cursor: pointer;
	color: var(--before-hover);
}

#help:hover,
#settings:hover{
	color: #fff;
}

#help-overlay img{
	max-width: 100vw;
}

#help-mobile-img{
	display: none;
}

@media only screen and (max-aspect-ratio: 1/1){
	#help-desktop-img{
		display: none;
	}
	
	#help-mobile-img{
		display: block;
	}
}

@media only screen and (min-aspect-ratio: 1/1) and (min-width: 950px) {
	#help-overlay img{
		max-width: 950px;
		width: 65vw;
	}
}

/*****Settings*****/
#settings{
	left: 0;
}
#settings-popup{
	max-width: min(100vw, 50em);
    min-width: 15em;
}

#setForm{
	display: flex;
    flex-direction: column;
}

#setForm > * {
	margin: .2em auto;
    width: 100%;
}

#set-form-btn{
	flex-basis: auto;
	margin-top: .7em;
}

#set-form span{
	text-align: center;
}

#set-form-btn button{
    margin: 0 1em;
}

.set-item{
	display: flex;
	justify-content:space-between;
}

.set-item label{
	order: 1;
	flex-basis: 8em;
	flex-grow: 1;
	margin-right: 1em;
}

.set-item input{
	order: 2;
    flex-basis: 2em;
    width: 7em;
    flex-grow: 2;
}

#setForm input{
	color: white;
}

/*****Current Task*****/
#current-task{
    max-width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    background-color: var(--accent-2-transparent);
    border-radius: 3em;
    padding: .5em 1em;
    max-height: 20vh;
	display: flex;
    flex-direction: column;
}

#current-task-text{
	text-align: center;
    color: white;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*Current Task Mobile*/
@media only screen and (max-width: 1100px) {
	#current-task{
		max-width: 95%;
	}
	
	#current-task-text{
		font-size: 1.2rem;
		-webkit-line-clamp: 5;
	}
}


/*****Completed tasks*****/
.completed input[type="radio"] {
    display: none;
}

tr.completed td {
    background: var(--completed);
    outline: .25em solid;
    outline-color: var(--completed);
}

tr.completed td:nth-child(5),
tr.completed td:nth-child(6) {
    outline: 0;
    background-color: var(--transparent);
}

tr.completed td:nth-child(6){
	display: none;
}

#done-btn{
	margin: 0 auto;
    font-size: 1.2rem;
    margin-bottom: .5em;
}
